#landingpage-navigation {
    position: fixed;
    height: 100%;
    width: 6.3%;
    max-width: 120px;
    background-color: #1b1b1d;
    z-index: 100;
}
#landingpage-navigation .svg-container {
    width: 52px;
    height: auto;
    margin: auto;
    margin-top: 34px;
}
#landingpage-navigation img {
    -webkit-filter: invert(100%);
    filter: invert(100%); 
    width: 100%;
    height: auto;
}
#landingpage-navigation-expand {
    position: relative;
    margin: auto;
    top: 50%;
    cursor: pointer;
    width: 50px;
}
#landingpage-navigation-expand .expand-line {
    display: block;
    border: 1px solid #ffffff;
}
#landingpage-navigation-expand .expand-line:nth-of-type(n+2) {
    margin-top: 13px;
}

@media only screen and (max-width: 1355px) {
    #landingpage-navigation {
        width: 100%;
        max-width: 100%;
        height: 80px;
        z-index: 100;
    }
    #landingpage-navigation .svg-container {
        margin: 10px 0 0 10px;
        width: 40px;
        float: left;
    }
    #landingpage-navigation-expand {
        top: 40%;
        width: 40px;
    }
    #landingpage-navigation-expand .expand-line:nth-of-type(n+2) {
        margin-top: 10px;
    }
}